version: '3'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_USER: myuser
      DB_PASSWORD: mypassword
      DB_HOST: db
      DJANGO_DEBUG: "True"
      SECRET_KEY: "django-insecure-(-bo_#84mrk++(05j_b33f=gh3i7eq-xv3o+vo^a8eqhz8zcg"
  db:
    image: postgres
    environment:
      POSTGRES_DB: django
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
