{% extends "iot_app/base.html" %}
{% block content %}

<div class="header">
    <div class="return">
        <a href="{% url 'iot' %}" style="color:black" >戻る</a>
    </div>
</div>

{% if iot_detail %}
    <form action="" method="post" style="padding:2px 20px 20px 20px">
        {% csrf_token %}
        <p class="break-word"><u>{{iot_detail}} を本当に削除しますか？</u></p>
        <p>※デバイスの過去履歴も削除されます。</p>
        <input type="submit" value="削除">
    </form>
{% else %}
    <div class="isdevice">
        <p>削除対象のデバイスが存在しません。</p>
        <br>
    </div>
{% endif %}

{% endblock content %}